/* #banner {
    background: url(/pic/banner-web.png) no-repeat 50%;
    background-size: cover;
    display: flex;

}
.bdt-search {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-inline: auto;
}

.bdt-search-inner {
    width: 1074px;
    margin-inline: auto;
    max-width: 1180px;
}
.bdt-search-types {
    margin: auto;
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 12px 12px 0 0;
    padding: 20px;
    background-color: #fff;
}

.bdt-search-types li button.active {
    background-color: #e30b13;
    color: #fff;
}
.bdt-search-types>:first-child>*, .bdt-search-wrapper .bdt-search-form .bdt-input-wrapper>:first-child>*, .child-rounded-x>:first-child>* {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.bdt-search-types li button {
    height: 40px;
    font-size: .75rem;
    min-width: 120px;
    font-weight: 500;
    color: #666;
    background-color: transparent;
    border: 1px solid rgba(227, 11, 19, .5);
    border-right: 0;
}
a, button {
    cursor: pointer;
    text-decoration: none;
    transition: .3s ease;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
} */












.loading {
    position: absolute;
    top: 0;
    width: 100vw;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  a, button {
    cursor: pointer;
    text-decoration: none;
    transition: .3s ease;
  }
  #hero {
    background-image: url('.//pic/banner-web.png');
  }
  
  
  .bdt_search_inner {
    width: 1074px;
    margin-inline: auto;
    max-width: 1180px;
    margin-top: 50px;
  }
  
  .bdt_search_types {
    margin: auto;
    display: flex;
    width: fit-content;
    border-radius: 12px 12px 0 0;
    padding: 20px;
    background-color: #fff;
  }
  
  .bdt_search_types li button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: .75rem;
    min-width: 120px;
    font-weight: 500;
    color: #666;
    background-color: transparent;
    border: 1px solid rgba(227, 11, 19, .5);
    border-right: 0;
  }
  .bdt_search_types li button.active {
    background-color: #e30b13;
    color: #f0f0f0;
    font-weight: bold;
  }
  .bdt_search_types li:last-child button {
    border-right: 1px solid rgba(227, 11, 19, .5);
  }
  .bdt_search_types>:first-child>* {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .bdt_search_types>:last-child>*{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .bdt_search_types li button img {
    margin-right: 10px;
    transition: filter .2s;
    height: 17px;
  }
  .bdt_search_types li button:hover {
    background-color: rgba(227, 11, 19, .14);
    color: #000;
  }
  .bdt_search_types li button:hover img {
    filter: brightness(0);
  }
  
  
  
  
  .bdt_search_wrapper {
    width: 100%;
    padding: 20px 40px 40px;
    margin-top: -1px;
    padding-top: 35px;
    border-radius: 12px;
    background-color: #fff;
  }
  .bdt_search_wrapper .bdt_search_form {
    gap: 20px;
    display: flex;
    padding-top: 0;
    justify-content: center;
  }
  .bdt_search_wrapper .bdt_search_form .bdt_input_wrapper {
    display: flex;
    border-radius: 6px;
    width: fit-content;
    border: 1px solid rgba(227, 11, 19, .4);
  }
  .bdt_search_wrapper .bdt_search_form .bdt_input_wrapper>div:first-child {
    padding-left: 25px;
    padding-right: 40px;
  }
  .bdt_search_wrapper .bdt_search_form .bdt_input_wrappe>div:nth-child(2) {
    padding-left: 40px;
    padding-right: 40px;
  }
  .bdt_search_wrapper .bdt_search_form .bdt_input_wrapper>:nth-child(2) {
    border-left: 1px solid rgba(227, 11, 19, .4);
  }
  .bdt_search_wrapper .bdt_search_form .bdt_input_wrapper .bdt_input {
    width: 240px;
    display: inline-block;
    padding-block: 10px;
    padding-left: 25px;
    padding-right: 15px;
    cursor: pointer;
  }
  .bdt_search_wrapper .bdt_search_form .bdt_input_wrapper .bdt_input_label {
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .bdt_search_wrapper .bdt_search_form .bdt_input_wrapper .bdt_input_label {
    font-size: 10px;
    display: block;
    text-transform: capitalize;
    color: #666;
    font-weight: 500;
  }
  .bdt_search_wrapper .bdt_search_form .bdt_input_wrapper .bdt_input_value {
    display: block;
    font-size: 14px;
    color: #212121;
    font-weight: 500;
  }
  .bdt_search_wrapper .bdt_search_form .bdt_input_wrapper .bdt_input>div .bdt_input_value {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  
  
  
  .bdt_search_wrapper .bdt_search_form .bdt_input_wrapper .btn_swipe {
    top: 50%;
    left: 50%;
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    transform: translate(-50%, -50%);
  }
  
  .bdt_search_wrapper .bdt_search_form .bdt_input_wrapper .btn_swipe {
    border: 1px solid rgba(227, 11, 19, .4);
  }
  .bdt_search_wrapper .bdt_search_form .bdt_input_wrapper .btn_swipe img {
    margin-top: -4px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  
  .bdt_search_wrapper .bdt-trending-search {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
  }
  .list-route {
    gap: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

  }
  .list-route-card {
    display: flex;
    gap: 10px 40px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 6px;
    text-transform: capitalize;
    background-color: rgba(240, 235, 255, .5);
    transition: all .4s;
  }
  .list-route-card:hover {
    background-color: #f0ebff;
  }
  ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
}
body, ol, ul {
    padding: 0;
    margin: 0;
}
*, :after, :before {
    box-sizing: border-box;
}




div {
    display: block;
    unicode-bidi: isolate;
}


body {
    line-height: 1.3;
    font-family: Nunito, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    background: #eee;
}
body, p {
    font-size: 14px;
}

body {
    color: rgba(0, 0, 0, .85);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-variant: tabular-nums;
    line-height: 1.5715;
    background-color: #fff;
    font-feature-settings: "tnum", "tnum";
}

  .list-route-card li {
    display: flex;
    position: relative;
    color: #666;
    font-size: 12px;
  }

  ul {
    list-style-type: disc;

}



  .list-route-card li:not(li:first-child):before {
    content: "";
    top: 50%;
    left: -30px;
    width: 20px;
    height: 20px;
    position: absolute;
    transform: translateY(-50%);
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url('./pic/svg/right.svg');
  }
  
  
  .bdt_search_wrapper .bdt-search-submit {
    position: relative;
    padding-top: 15px;
  }
  
  .bdt_search_wrapper .bdt-search-submit button {
    left: 50%;
    bottom: -62.5px;
    font-size: 14px;
    border-radius: 6px;
    position: absolute;
    transform: translateX(-50%);
    font-weight: 700 !important;
}
  .btn {
    font-size: 16px;
    text-transform: uppercase;
    padding: 20px 30px;
    border-radius: 6px;
    font-weight: 500;
    letter-spacing: 1px;
    white-space: nowrap;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    font-family: Nunito, sans-serif;
    justify-content: center;
  }
  .btn-primary {
    background: #e30b13;
    color: #fff;
    border-color: #e30b13;
    position: relative;
  }
  .btn.btn-primary {
    padding: 14px 40px;
    font-size: 14px;
  }

  .capitalize {
    text-transform: capitalize !important;
  }
  
  
  
  
  
  
  table, th, td {
    border: 1px solid;
  }
  table.list_table {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
  }
  